<!doctype html>
<html lang="en">

<head>
    <title>Car Rent &mdash; Free Website Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" width="160" height="80" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link ">Anasayfa</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="ContactUs" class="nav-link">İletişim</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="AboutUs" class="nav-link">Hakkımızda</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="Car" class="nav-link">Araba Listesi</a></li>
                    <li class="nav-item">  @await Component.InvokeAsync("UserBar")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid mb-5 p-0">

        @RenderBody()

    </div>

    <footer class="site-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="footer-heading mb-4">Sosyal Medya</h2>

                    <a href="https://www.instagram.com/acarrentacar/?hl=en&ysclid=lb4yt9xrcn167493591" class="instagram"><i class="fa-brands fa-instagram"></i><span>instagram</span></a><br />
                    <a href="" class="pinterest"><i class="fa-brands fa-pinterest"></i><span>pinterest</span></a><br />
                    <a href="" class="facebook"><i class="fa-brands fa-facebook"></i><span>facebook</span></a><br />
                    <a href="" class="twitter"><i class="fa-brands fa-twitter"></i><span>twitter</span></a><br />
                    <a href="https://www.youtube.com/watch?v=K4H87n__nq0" class="youtube"><i class="fa-brands fa-youtube"></i><span>youtube</span></a><br />
                    <a href="" class="tumblr"><i class="fa-brands fa-tumblr-square"></i><span>tumblr</span></a>


                </div>
                <div class="col-lg-8 ml-auto">
                    <div class="row">
                        <div class="col-lg-3">
                            <h2 class="footer-heading mb-4">Hızlı Linkler</h2>
                            <ul class="list-unstyled">
                                <li><a asp-controller="Home" asp-action="AboutUs">Hakkımızda</a></li>
                                <li><a href="#">Görüşler</a></li>
                                <li>
                                    <a href="#">
                                        Kullanım Şartları
                                    </a>
                                </li>
                                <li><a href="#">Gizlilik</a></li>
                                <li><a asp-controller="Home" asp-action="ContactUs">İletişim</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h2 class="footer-heading mb-4">Hızlı Linkler</h2>
                            <ul class="list-unstyled">
                                <li><a asp-controller="Home" asp-action="AboutUs">Hakkımızda</a></li>
                                <li><a href="#">Görüşler</a></li>
                                <li>
                                    <a href="#">
                                        Kullanım Şartları
                                    </a>
                                </li>
                                <li><a href="#">Gizlilik</a></li>
                                <li><a asp-controller="Home" asp-action="ContactUs">İletişim</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h2 class="footer-heading mb-4">Hızlı Linkler</h2>
                            <ul class="list-unstyled">
                                <li><a asp-controller="Home" asp-action="AboutUs">Hakkımızda</a></li>
                                <li><a href="#">Görüşler</a></li>
                                <li>
                                    <a href="#">
                                        Kullanım Şartları
                                    </a>
                                </li>
                                <li><a href="#">Gizlilik</a></li>
                                <li><a asp-controller="Home" asp-action="ContactUs">İletişim</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h2 class="footer-heading mb-4">Hızlı Linkler</h2>
                            <ul class="list-unstyled">
                                <li><a asp-controller="Home" asp-action="AboutUs">Hakkımızda</a></li>
                                <li><a href="#">Görüşler</a></li>
                                <li>
                                    <a href="#">
                                        Kullanım Şartları
                                    </a>
                                </li>
                                <li><a href="#">Gizlilik</a></li>
                                <li><a asp-controller="Home" asp-action="AboutUs">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            Copyright &copy; @DateTime.Today.Year AraçKirala'nın Tüm hakları saklıdır.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    </div>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.animatenumber.min.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(() => {
            $('body').on('mousedown', (e) => {
                //$('.category-panel').removeClass('show').css('z-index', '-1');
            });

            $('a.mainmenu-btn').on('click', (e) => {

                $('.category-panel').removeClass('show').addClass('d-none').css('z-index', '-1');
                const id = $(e.currentTarget).attr('data-category-id');
                $('div#categoryPanel_' + id).addClass('show').removeClass('d-none').css('z-index', '1');
            });

        });
        @if (TempData["addedToCart"] is not null)
        {
            <text>
                Swal.fire({
                    html: 'Ürün sepetinize eklendi...<a href="/Account/shoppingcart">sepete git</a>',
                    icon: 'success',
                    toast: true,
                    confirmButtonText: 'Alışverişe Devam Et',
                    position: 'top-end'
                });
            </text>
        }
    </script>
</body>

</html>