@{
    ViewData["Title"] = "Hoşgeldiniz";
}
<section class="hero-slider">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
</section>
<div class="container">
    <section class="mb-4">
        <h2>Fırsat Ürünleri</h2>
        <hr />
        <partial name="_CarListPartial" model="ViewBag.Featured as IEnumerable<Car>" />
    </section>
    <section class="mb-4">
        <h2>Çok Satanlar</h2>
        <hr />
        <partial name="_CarListPartial" model="ViewBag.BestSeller as IEnumerable<Car>" />
    </section>
    <section class="mb-4">
        <h2>Sizin İçin Seçtiklerimiz</h2>
        <hr />
        <partial name="_CarListPartial" model="ViewBag.ShowCase as IEnumerable<Car>" />
    </section>
</div>