@model RentACarData.MainMenu

<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name"></span>
</div>
<div class="form-check">
    <input class="form-check-input" asp-for="Enabled">
    <label class="form-check-label" asp-for="Enabled"></label>
</div>
