@{
    ViewData["Title"] = "Yeni Üyelik";
}

<i class="fa fa-face-smile fa-5x"></i>
<h2>Teşekkürler</h2>
<p class="text-success">E-Posta hesabınız başarıyla doğrulanmıştır.</p>
<p>Giriş yapmak için <a asp-action="Login">tıklayınız...</a></p>