@*<ol> sıralı liste için kullanılır.
    <li>Chop potatoes into quarters</li>
    <li> Simmer in salted wter for 15-20 minutes until tender</li>
    <li> Heat Milk butter and nutmeg</li>
    <li> Drain potatoes and mash</li>
    <li> Mix in the mik mixture</li> liste halinde sıralı sıralı dizer
</ol>


<ul> nokta nokta sıralar sırasız listeler=
    <li>1 kg King Edward Potatoes</li>
    <li>100ML MİLK </li>
    <li>50g salted butter</li>
    <li>Freshly grated nutmeg</li>
    <li>Salt and pepper to taste</li>
</ul>

<dl> tanımlar listeleri
<dt>Sashimi</dt>
<dd> Sliced raw fish that is served with condiments such as shredded daikon radish or ginger root. Wasabi and soy saouce</dd>
<dt>Scale</dt>
<dd>A Technique by which the scales are removed from the skin of a fish</dd>
<dt>Scamorze</dt>
<dt>Scamorzo</dt>
<dd>An Italian cheese usually made from whole cow's milk(altough ıt was traditionally made form buffalo milk)</dd>
</dl>

<ul>
  <li>Mousses</li>
  <li>Pastries
      <ul>
      <li>Croissant</li>
      <li>Mille-feuille</li>
      <li>Palmier</li>
      <li>Profiterole</li   >
      </ul>
  </li>
  <li>Tarts</li>
</ul>*@

@*<html>
    <head>
    <title>List</title>

    </head>
<body>
    <a href="http://www.imbd.com">IMBD AÇIKLAYICI BİR METİN OLMALI . KALMAK İÇİN UYGUN YERLER YERİNE NEYWORK DA OTEL GİBİ
        </a>
     <h1> Scrambled Eggs</h1>
     <p>  Eggs are one of my favorite foods. Here is a recipe for deliciously rich srambled eggs.</p>
     <h2>Inredients</h2>
     <ul>
         <li>2 eggs</li>
         <li>1tbs butter</li>
         <li>2tbs cream</li>
     </ul>
     <h2>Method</h2>
     <ol>
         <li> Melt butter in an frying pan over a medium heat</li>
         <li>Gently mix the eggs abd cream in a bowl</li>
         <li> Once butter has melted add cream and eggs</li>
         <li>Using a spatula fold the eggs from the edge of the pan to the center every 20 seconds</li>
         <li>When the eggs are still moist remove from the heat(it will contiune to cook on the plate until served)</li>




     </ol>
 </body>
 <body>
     <p> Movie Reviews:
         <ul>
        <li> <a href="http://www.empireonline.com">Empire</a></li>
        <li> <a href="http://www.metacritic.com">Metacritic</a></li>
        <li> <a href="http://www.rottentomatoes.com">Rottentomatoes</a></li>
        <li> <a href="http://www.variety.com">variety</a></li>
        </ul>
     </p>


     <p>
         <ul>
         <li> <a href="index.html">Home</a></li>
         <li> <a href="aboutus.html">About</a></li>
         <li> <a href="movies.html">Movies</a></li>
         <li> <a href="contact.html">Contact</a></li>
         <li> <a href="contact.html">Contact</a></li>
         <li> <a href="contact.html">Contact</a></li>
         <li>
             <a href="mailto:mehmett.sayim@gmail.com">Mehmet Sayım</a> <br />
             <a href="http://www.imdb.com" target="_blank"> Internet Movie Database</a>(opens in new window)

         </li>

         ../ kulannaraka mevcut klasörün üstü belirtilir ve sonra dosya adı kullanılır.
         ../../ iki klasör yukarı çıkılaacağını belirtir ve sonras dosya adı ile devam edilir.


         </ul>

     </p>

     <h1 id
 </body>
</html>
*@


<html>
<head>
    <title> Links</title>
</head>

<body>
    <h1 id="top">Film Folk</h1>
    <h2>Festival Diary</h2>
    <p>
        Here are some of the film festivals we will be attentind this year.<br />Please <a href="mailto:filmfpşk@example.org">ContactUs</a> if
        you would like more information
    </p>
    <h3>January</h3>
    <p>
        <a href="http://www.sundance.org">Sundance Film Festival </a> <br />
        Park City, Utah USA <br />
        20-30 January 2011
    </p>
   <h3>February</h3>
   <p><a href="http://www.tropfest.com">Tropfest</a><br />
       Sydney. Australia <br />7
       20 February 2011
   </p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
    <p> Here are some of the film festivals we will be attentind</p>
   <!-- additional content-->
   <p><a href="about.html">About Film Folk</a></p>
   <p><a href="#top">Top of page</a></p>
</body>
</html>