@*<ol> sıralı liste için kullanılır.
    <li>Chop potatoes into quarters</li>
    <li> Simmer in salted wter for 15-20 minutes until tender</li>
    <li> Heat Milk butter and nutmeg</li>
    <li> Drain potatoes and mash</li>
    <li> Mix in the mik mixture</li> liste halinde sıralı sıralı dizer
</ol>


<ul> nokta nokta sıralar sırasız listeler=
    <li>1 kg King Edward Potatoes</li>
    <li>100ML MİLK </li>
    <li>50g salted butter</li>
    <li>Freshly grated nutmeg</li>
    <li>Salt and pepper to taste</li>
</ul>

<dl> tanımlar listeleri
<dt>Sashimi</dt>
<dd> Sliced raw fish that is served with condiments such as shredded daikon radish or ginger root. Wasabi and soy saouce</dd>
<dt>Scale</dt>
<dd>A Technique by which the scales are removed from the skin of a fish</dd>
<dt>Scamorze</dt>
<dt>Scamorzo</dt>
<dd>An Italian cheese usually made from whole cow's milk(altough ıt was traditionally made form buffalo milk)</dd>
</dl>

<ul>
  <li>Mousses</li>
  <li>Pastries
      <ul>
      <li>Croissant</li>
      <li>Mille-feuille</li>
      <li>Palmier</li>
      <li>Profiterole</li   >
      </ul>
  </li>
  <li>Tarts</li>
</ul>*@

<html>
    <head>
        <title>List</title>
    </head>
 <body>
     <h1> Scrambled Eggs</h1>
     <p>  Eggs are one of my favorite foods. Here is a recipe for deliciously rich srambled eggs.</p>
     <h2>Inredients</h2>
     <ul>
         <li>2 eggs</li>
         <li>1tbs butter</li>
         <li>2tbs cream</li>
     </ul>
     <h2>Method</h2>
     <ol>
         <li> Melt butter in an frying pan over a medium heat</li>
         <li>Gently mix the eggs abd cream in a bowl</li>
         <li> Once butter has melted add cream and eggs</li>
         <li>Using a spatula fold the eggs from the edge of the pan to the center every 20 seconds</li>
         <li>When the eggs are still moist remove from the heat(it will contiune to cook on the plate until served)</li>
     </ol>
 </body>
</html>